[Unit]
Description=Discrete graphics off during boot

[Service]
Type=oneshot
ExecStart=/bin/sh -c "echo OFF > /sys/kernel/debug/vgaswitcheroo/switch"

[Install]
WantedBy=multi-user.target
